.resizeNone {
    resize: none;
}
.chatElementsContainer {
    min-height:80px;
    max-height: calc(100vh - 86px);
    overflow-x:hidden;
    overflow-y:scroll;
    background-color: aliceblue;
    padding-left:10px;
    padding-right:10px;
}

.btn-mine {
    font-weight:bold;
    color:white;
    background-color:rgb(0, 128, 255);
    box-shadow:0px 0px 5px 0px black;

}

.chatContainer {
    max-height:100vh;
}